/* ------------------------------------------- variables */
@orange: #fd6784;
@ecru: #fff0c7;
@white: #fff;
@whiteDark: #fbfbfb;
@greenLight: #a4e3ba;
@greenDark: #4fd37f;
@greyLight: #909090;
@greyDark: #303030;
@blue: #1682cd;

/* ------------------------------------------- mixins */

.transition (@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transitions (@transition1, @transition2) {
  -webkit-transition: @transition1, @transition2;
     -moz-transition: @transition1, @transition2;
      -ms-transition: @transition1, @transition2;
       -o-transition: @transition1, @transition2;
          transition: @transition1, @transition2;
}
.transform (@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
      -ms-transform: @transform;
       -o-transform: @transform;
          transform: @transform;
}
.text-shadow (@textshadow) {
  -webkit-text-shadow: @textshadow;
     -moz-text-shadow: @textshadow;
      -ms-text-shadow: @textshadow;
       -o-text-shadow: @textshadow;
          text-shadow: @textshadow;
}
.box-shadow (@boxshadow) {
  -webkit-box-shadow: @boxshadow;
     -moz-box-shadow: @boxshadow;
      -ms-box-shadow: @boxshadow;
       -o-box-shadow: @boxshadow;
          box-shadow: @boxshadow;
}
.filter (@filter) {
  -webkit-filter: @filter;
     -moz-filter: @filter;
      -ms-filter: @filter;
       -o-filter: @filter;
          filter: @filter;
}
.opacity (@opacity) {
  -webkit-opacity: @opacity;
     -moz-opacity: @opacity;
      -ms-opacity: @opacity;
       -o-opacity: @opacity;
          opacity: @opacity;
}
.backgroundsize (@backgroundsize) {
  -webkit-background-size: @backgroundsize;
     -moz-background-size: @backgroundsize;
      -ms-background-size: @backgroundsize;
       -o-background-size: @backgroundsize;
          background-size: @backgroundsize;
}
.border-radius (@borderradius) {
  -webkit-border-radius: @borderradius;
     -moz-border-radius: @borderradius;
      -ms-border-radius: @borderradius;
       -o-border-radius: @borderradius;
          border-radius: @borderradius;
}
.animation (@animation) {
  -webkit-animation: @animation;
     -moz-animation: @animation;
      -ms-animation: @animation;
       -o-animation: @animation;
          animation: @animation;
}

/* ------------------------------------------- animation */

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% { .transform(translateY(0)) }
  40% { .transform(translateY(-30px)) }
  60% { .transform(translateY(-15px)) }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% { .transform(translateY(0)) }
  40% { .transform(translateY(-30px)) }
  60% { .transform(translateY(-15px)) }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { .transform(translateY(0)) }
  40% { .transform(translateY(-30px)) }
  60% { .transform(translateY(-15px)) }
}

.bounce { .animation(bounce 2s infinite) }

/* ------------------------------------------- general */

html, body {
  height: 100vh;
  width: 100%
}
body {
  background: #fff;
  color: @greyLight;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center
}
.pseudos {
  content: "";
  display: block;
  position: absolute
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table
  }
  &:after { clear: both }
}
.textshadow {
  .text-shadow(0px 1px 2px rgba(0, 0, 0, 0.9))
}
.boxshadow {
  .box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.25))
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative
}
.greyBox { background: #f2f2f2; }

/* ------------------------------------------- sprite-image */

.logo,
.logoMini,
.arrow > span,
.services .description:before { background: url('../img/sprite-images.png') no-repeat }

/* ------------------------------------------- boxes */

.box { position: relative }
.box.v1 {

  .title {
    font-size: 30px;
    line-height: 60px;
    text-transform: uppercase
  }
  .subtitle {
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 40px
  }
}
.box.v2 {
  .boxshadow();
  background: @white;
  max-width: 320px;
  padding: 20px;
  width: 100%;

  .background {
    height: 160px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &:before {
      .pseudos();
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
      height: 160px;
      width: 100%;
    }
  }
  .picInfo {
    margin: 30px 0 20px 0;
    position: relative;
    overflow: hidden;
    z-index: 2;

    .profilePic {
      .border-radius(50%);
      height: 150px;
      float: left;
      overflow: hidden;
      width: 150px;
    }
    .info {
      float: left;
      margin: 55px 0 0 10px;
      text-align: left;

      .title {
        .textshadow();
        font-family: 'Josefin Sans', sans-serif;
        font-size: 19px;
        font-weight: 300;
        line-height: 30px;
      }
      .subtitle {
        .opacity(.7);
        .textshadow();
        font-size: 15px;
        position: relative;
      }
    }
  }
  .bio {
    color: @greyDark;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

/* ------------------------------------------- header */

.header {
  z-index: 9999;

  .wrapper {
    .transition(all .4s);
    left: 0;
    overflow: hidden;
    padding-top: 25px;
    position: fixed;
    right: 0;
    z-index: 9999;

    .logo {
      .transition(all .4s);
      position: relative;
      display: block;
      float: left;
      height: 80px;
      width: 230px;
      opacity: 1;
      top: 0;
    }
    .logoMini {
      .transition(all .4s);
      background-position: 0 -150px;
      display: block;
      height: 35px;
      width: 95px;
      position: absolute;
      top: -43.5px;
      left: 16px;
      opacity: 0;
      margin-top: 5px
    }
    .menu {
      .transition(all .4s);
      float: right;
      padding: 25px 0;

      ul {

        li {
          .transition(all .4s);
          display: inline-block;
          margin-right: 55px;

          .link {
            .transition(all .4s);
            color: @white;
            display: block;
            font-size: 15px;
            line-height: 25px;
            position: relative;
            overflow: hidden;

            &:before {
              .transition(all .3s);
              .pseudos();
              background: @orange;
              height: 3px;
              left: 0;
              right: 0;
              bottom: -5px
            }
            &:hover { &:before { bottom: 0 } }
          }
          .link.selected {
            &:before {
              .transition(all .4s);
              .pseudos();
              background: @orange;
              height: 3px;
              left: 0;
              right: 0;
              bottom: 0
            }
          }
          &:last-child { margin-right: 0 }
        }
      }
    }
    .responsiveIcon {
      .transition(all .4s);
      display: none;
      position: relative;
      float: right;
      top: 17px;
      height: 14px;
      cursor: pointer;

      .icon, .icon:before, .icon:after {
        width: 20px;
        height: 2px;
        background: @white;
        display: block
      }
      .icon:before, .icon:after {
        .transitions(margin 0.2s, transform 0.4s);
        .pseudos();
      }
      .icon:before {
        top: 12px;
      }
      .icon:after {
        top: 6px;
      }
    }
  }
  &:before {
    .transition(all .4s);
    .pseudos();
    background: @blue;
    border-top: 10px solid #0d5878;
    left: 0;
    height: 104px;
    position: fixed;
    right: 0
  }
}
.header.menuScroll {

  > div {
    .transition(all .4s);
    height: 40px;
    padding: 0 15px;

    .logo {
      .transition(all .2s);
      top: -100px;
      opacity: 0;
    }
    .logoMini {
      .transition(all .4s);
      top: 3.5px;
      opacity: 1
    }
    .menu {
      .transition(all .4s);
      padding: 14px 0 0;

      ul {

        li {
          .transition(all .4s);
          margin-right: 35px;

          .link {
            .transition(all .4s);
            font-size: 14px;
            line-height: 25px;

            &:hover {
              &:before {
                .transition(all .4s);
                height: 3px;
              }
            }
          }
          .link.selected {
            &:before {
              .transition(all .4s);
              height: 3px
            }
          }
        }
      }
    }
  }

  &:before {
    .transition(all .4s);
    .pseudos();
    background: @blue;
    left: 0;
    height: 40px;
    position: fixed;
    right: 0;
    border-top: 10px solid transparent;
  }
}
.header.menuResponsive {

  > div {
    height: 40px;

    .menu {
      position: fixed;
      right: 0;
      left: 0;
      text-align: right;
      top: -210px;

      ul {

        li {
          margin: 0 0 25px 0 !important;
          display: block;
        }
      }
    }
    &:before { height: 40px }
  }
}
.header.menuResponsive.open {
  > div {
    height: 250px;

    .logoMini { top: 210px !important }
    .menu { top: 0 }
    .responsiveIcon { top: 228px }
  }
  &:before { height: 250px }
}


/* ------------------------------------------- home */

.banner {

  img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1170px;
  }
}
#home { padding-top: 120px }
/* ------------------------------------------- medicos, investigadores */

.medicos, .investigadores, .contact {

  .box {
    background: #f2f2f2;
    padding: 25px 0;

    .title  { color: #000 }
    .icon {
      background: url('../img/sprite-images.png') no-repeat;
      display: block;
      width: 80px;
      height: 85px;
      margin: 0 auto;
      background-position: 0 -414px
    }
    &:after{
      .pseudos();
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 30px 0 30px;
      border-color: #f2f2f2 transparent transparent transparent;
      bottom: -30px;
      left: 50%;
      margin-left: -25px;
    }
  }
  .label {
    color: #fff;
    padding: 55px 0 25px;
    font-size: 30px;
    background: @blue;
  }
  img.banner {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1170px;
  }
  .phone {
    border-top: 1px solid #f1f1f1;
    text-align: center;

   .wrapper {
      max-width: 940px;
      margin: 0 auto
    }
    .cellphones {
      float: left;
      margin: 50px 70px 0 0;
    }
    .info {
      padding: 110px 0 100px;

      h2 {
        font-size: 35px;
        color: #000;
        font-weight: 400;
      }
      .description {
        font-size: 23px;
        line-height: 30px;
        margin-top: 50px;
      }
    }
    .publi {
      background: @blue;
      color: #fff;
      text-align: center;
      font-size: 30px;
      line-height: 70px;
      padding-top: 5px;
      letter-spacing: -1px
    }
    .img {
      border-bottom: 1px solid #f1f1f1;

      img {
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  .screensapp {
    background: url("../img/back-mobile-screens-app.jpg") right bottom no-repeat;
    padding-top: 200px;
    text-align: center;

   .wrapper {
      max-width: 700px;
      margin: 0
    }
    .screens {
      margin: 0 auto;
      max-width: 555px;
      width: 100%
    }
    .info {
      padding: 60px 0;

      h2 {
        font-size: 35px;
        color: #000;
        font-weight: 400;
      }
      .description {
        font-size: 23px;
        line-height: 30px;
        margin-top: 50px;
      }
    }
  }
}

.investigadores, .contact {

  .box {

    .icon {
      background: url('../img/sprite-images.png') no-repeat;
      display: block;
      width: 80px;
      height: 85px;
      margin: 0 auto;
      background-position: -100px -414px
    }
  }
  .box.contactus  {
    .title  {
      font-size: 14px;
      display: inline-block;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 20px
    }
    .intercom {
      display: inline-block;
      color: #288be0;
      font-size: 12px;
      padding-left: 35px;
      margin-left: 15px;
      position: relative;
      font-weight: 700;

      &:before {
        .pseudos();
        background: url('../img/sprite-images.png') no-repeat;
        background-position: -225px -475px;
        width: 25px;
        height: 25px;
        left: 0;
        top: -8px;
      }
    }
  }
  .label { background: #88a4b2 }
  .label.contactus { background: @blue }
  .banner {
    background: #adcdd8;

    img {
      margin: 0 auto;
      width: 100%;
      height: auto;
      max-width: 1170px;
    }
  }
  .phone {

    .cellphones { margin: 90px 70px 0 0 }
  }
}

/* ------------------------------------------- services */

.services {
  background: @whiteDark;
  padding: 110px 0 50px 0;

  .wrapper {

    .title {
      color: @orange;
      font-size: 60px;
      text-transform: uppercase
    }
    .subtitle {
      color: @orange;
      font-family: 'Dosis', sans-serif;
      font-size: 41.3px;
      line-height: 45px
    }
    .description {
      margin: 55px auto 230px auto;
      position: relative;
      width: 265px;

      .title {
        color: @greenDark;
        font-size: 30px;
        text-transform: inherit
      }
      .spec {
        font-size: 20px;
        position: absolute
      }
      .spec.android {
        left: -130px;
        top: 100px
      }
      .spec.ios {
        left: 240px;
        top: 100px;
        width: 140px
      }
      .spec.uxui {
        left: 10px;
        top: 180px
      }
      &:before {
        .pseudos();
        background-position: 0 -250px;
        height: 215px;
        left: 50%;
        margin-left: -102.5px;
        width: 205px
      }
    }
    .extraInfo {
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 50px;

      .decemberLabs { color: @greenDark }
    }
  }
}

/* ------------------------------------------- footer */

.footer {
  background: #0e587b;
  color: @white;
  padding: 13px 0 10px 0;

  p {
    font-size: 10px;
    letter-spacing: 2px
  }
}

/* ------------------------------------------- media queries */

@media (max-width: 1160px) {

  .projects .mask ul .item > div .cellphones {
    position: absolute;
    z-index: 0;
    margin-left: -283px;
    left: 50%;
    opacity: .3;
  }
  .projects .mask ul .item > div .info {
    .textshadow();
    position: relative;
    text-align: center;
  }

}
@media (max-width: 1055px) {
  .medicos .screensapp { background: url("../img/back-mobile-screens-app-opacity.jpg") right bottom no-repeat; }
}
@media (max-width: 985px) {

  .header .wrapper .menu ul li { margin-right: 45px }
}
@media (max-width: 900px) {
  .medicos .phone .info,
  .investigadores .phone .info,
  .contact .phone .info { padding: 20px 0 50px }
  .medicos .phone .cellphones,
  .investigadores .phone .cellphones,
  .contact .phone .cellphones {
    float: inherit;
    margin: 50px auto 10px;
  }
  .medicos .phone .info .description,
  .investigadores .phone .info .description,
  .contact .phone .info .description { margin-top: 25px }
}
@media (max-width: 835px) {

  .header .wrapper .menu ul li .link.selected:before { height: 3px }
  .header .wrapper .menu { padding: 25px 0 }
}
@media (max-width: 790px) {

  .header {

    > div {

      .logo {
        .transition(all .2s);
        top: -100px !important;
        opacity: 0 !important;
      }
      .logoMini {
        .transition(all .4s);
        top: 3.5px !important;
        opacity: 1 !important;
      }
    }
  }
  .header:before {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    content: "";
    display: block;
    position: absolute;
    background: #1682cd;
    left: 0;
    height: 40px;
    position: fixed;
    right: 0;
    border-top: 10px solid transparent;
  }
  .header .wrapper .menu { padding: 14px 0 }
  .header .wrapper { padding: 0 15px }
  .header .wrapper .menu ul li .link {
    font-size: 14px;
    line-height: 25px;
  }
  .header .wrapper .menu ul li { margin-right: 35px }
  .header .wrapper .logo { display: none }
  .banner img { padding-top: 50px }
  .banner .wrapper .box { padding: 160px 0 70px 0 }
}

@media (max-width: 670px) {
  .header.menuScroll > div .logo { display: none }
}

@media (max-width: 620px) {

  .medicos .screensapp,
  .investigadores .screensapp,
  .contact .screensapp { padding-top: 100px }
}

@media (max-width: 600px) {

  .projects .mask ul .item > div .info { padding: 90px 80px }
  .projects .mask ul #itemThree > div .info { padding: 127.5px 80px }
  .projects .mask ul #itemFour > div .info { padding: 127.5px 110px }
  .header { > div { .menu { ul { margin: 0 15px !important } } } }
  .banner .wrapper .box .subtitle { display: none }
}

@media (max-width: 565px) {

  .projects .mask ul .item > div .cellphones { display: none }
  .services .wrapper .description { margin: 55px auto 70px auto }
  .services .wrapper .description:before { opacity: .2 }
  .services .wrapper .description .title { margin-bottom: 40px }
  .services .wrapper .description .spec {
    position: relative;
    left: inherit !important;
    top: inherit !important;
    width: inherit !important;
    margin-bottom: 20px;
  }
  .team .wrapper .box .subtitle br { display: none }
}
@media (max-width: 545px) {

  .projects .mask ul .item > div .info { padding: 65px 80px }
  .medicos .phone .publi { font-size: 20px }
}
@media (max-width: 495px) {

  .projects .mask ul .item { margin-right: 15px }
  .projects .mask ul .item > div .info { padding: 115px 0 }
  .projects .mask ul #itemThree > div .info { padding: 140px 0 }

}
@media (max-width: 475px) {

  .projects .mask ul .item > div .info { padding: 115px 0 }
  .projects .mask ul #itemThree > div .info { padding: 115px 0 }
  .projects .mask ul #itemFour > div .info { padding: 115px 0 }
  .projects .mask ul .item > div .info .description { margin-top: 20px }
  .projects .mask ul .item .mobileNavigation { display: block }
  .medicos .phone .cellphones,
  .investigadores .phone .cellphones,
  .contact .phone .cellphones {
    max-width: 200px;
    width: 100%
  }

}
@media (max-width: 400px) {

  .projects .mask ul .item > div .info { padding: 105px 0 }
  .projects .mask ul #itemTwo > div .info { padding: 92.5px 0 }
  .projects .mask ul #itemThree > div .info { padding: 142.5px 0 }
  .projects .mask ul #itemFour > div .info { padding: 155px 0 }

}
@media (max-width: 360px) {

  .banner .wrapper .box { padding: 90px 0px 30px }
  .box.v2 {
    padding: 0px;
    width: inherit;
    background: transparent none repeat scroll 0% 0%;
    box-shadow: inherit;
  }
  .box.v2 .background { display: none }
  .box.v2 .picInfo { margin: 0px }
  .box.v2 .picInfo .profilePic { float: inherit }
  .box.v2 .picInfo .info {
    margin: 10px auto;
    float: inherit
  }
  .box.v2 .picInfo .info .subtitle {
    opacity: 1;
    color: @greyDark;
    left: inherit
  }
  .box.v2 .bio { display: none }
  .projects .mask ul .item > div .info { padding: 67.5px 0px }
  .projects .mask ul #itemThree > div .info { padding: 117.5px 0px }
  .projects .mask ul #itemFour > div .info { padding: 142.5px 0px }
  .services .wrapper .extraInfo br { display: none }
}
