/* ------------------------------------------- variables */
/* ------------------------------------------- variables */
/* ------------------------------------------- mixins */
/* ------------------------------------------- animation */
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
  40% {
    -webkit-transform: translatey(-30px);
    -moz-transform: translatey(-30px);
    -ms-transform: translatey(-30px);
    -o-transform: translatey(-30px);
    transform: translatey(-30px);
  }
  60% {
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
    -ms-transform: translatey(-15px);
    -o-transform: translatey(-15px);
    transform: translatey(-15px);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
  40% {
    -webkit-transform: translatey(-30px);
    -moz-transform: translatey(-30px);
    -ms-transform: translatey(-30px);
    -o-transform: translatey(-30px);
    transform: translatey(-30px);
  }
  60% {
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
    -ms-transform: translatey(-15px);
    -o-transform: translatey(-15px);
    transform: translatey(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
  40% {
    -webkit-transform: translatey(-30px);
    -moz-transform: translatey(-30px);
    -ms-transform: translatey(-30px);
    -o-transform: translatey(-30px);
    transform: translatey(-30px);
  }
  60% {
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
    -ms-transform: translatey(-15px);
    -o-transform: translatey(-15px);
    transform: translatey(-15px);
  }
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -ms-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
/* ------------------------------------------- general */
html,
body {
  height: 100vh;
  width: 100%;
}
body {
  background: #fff;
  color: #909090;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.pseudos {
  content: "";
  display: block;
  position: absolute;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.textshadow {
  -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  -ms-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  -o-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}
.boxshadow {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.greyBox {
  background: #f2f2f2;
}
/* ------------------------------------------- sprite-image */
.logo,
.logoMini,
.arrow > span,
.services .description:before {
  background: url('../img/sprite-images.png') no-repeat;
}
/* ------------------------------------------- boxes */
.box {
  position: relative;
}
.box.v1 .title {
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
}
.box.v1 .subtitle {
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 40px;
}
.box.v2 {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  max-width: 320px;
  padding: 20px;
  width: 100%;
}
.box.v2 .background {
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.box.v2 .background:before {
  content: "";
  display: block;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
  /* IE6-9 */

  height: 160px;
  width: 100%;
}
.box.v2 .picInfo {
  margin: 30px 0 20px 0;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.box.v2 .picInfo .profilePic {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 150px;
  float: left;
  overflow: hidden;
  width: 150px;
}
.box.v2 .picInfo .info {
  float: left;
  margin: 55px 0 0 10px;
  text-align: left;
}
.box.v2 .picInfo .info .title {
  -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  -ms-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  -o-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
}
.box.v2 .picInfo .info .subtitle {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  -ms-opacity: 0.7;
  -o-opacity: 0.7;
  opacity: 0.7;
  -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  -ms-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  -o-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  font-size: 15px;
  position: relative;
}
.box.v2 .bio {
  color: #303030;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
/* ------------------------------------------- header */
.header {
  z-index: 9999;
}
.header .wrapper {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  left: 0;
  overflow: hidden;
  padding-top: 25px;
  position: fixed;
  right: 0;
  z-index: 9999;
}
.header .wrapper .logo {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  display: block;
  float: left;
  height: 80px;
  width: 230px;
  opacity: 1;
  top: 0;
}
.header .wrapper .logoMini {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background-position: 0 -150px;
  display: block;
  height: 35px;
  width: 95px;
  position: absolute;
  top: -43.5px;
  left: 16px;
  opacity: 0;
  margin-top: 5px;
}
.header .wrapper .menu {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  float: right;
  padding: 25px 0;
}
.header .wrapper .menu ul li {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  margin-right: 55px;
}
.header .wrapper .menu ul li .link {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #ffffff;
  display: block;
  font-size: 15px;
  line-height: 25px;
  position: relative;
  overflow: hidden;
}
.header .wrapper .menu ul li .link:before {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  display: block;
  position: absolute;
  background: #fd6784;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -5px;
}
.header .wrapper .menu ul li .link:hover:before {
  bottom: 0;
}
.header .wrapper .menu ul li .link.selected:before {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  content: "";
  display: block;
  position: absolute;
  background: #fd6784;
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0;
}
.header .wrapper .menu ul li:last-child {
  margin-right: 0;
}
.header .wrapper .responsiveIcon {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: none;
  position: relative;
  float: right;
  top: 17px;
  height: 14px;
  cursor: pointer;
}
.header .wrapper .responsiveIcon .icon,
.header .wrapper .responsiveIcon .icon:before,
.header .wrapper .responsiveIcon .icon:after {
  width: 20px;
  height: 2px;
  background: #ffffff;
  display: block;
}
.header .wrapper .responsiveIcon .icon:before,
.header .wrapper .responsiveIcon .icon:after {
  -webkit-transition: margin 0.2s, transform 0.4s;
  -moz-transition: margin 0.2s, transform 0.4s;
  -ms-transition: margin 0.2s, transform 0.4s;
  -o-transition: margin 0.2s, transform 0.4s;
  transition: margin 0.2s, transform 0.4s;
  content: "";
  display: block;
  position: absolute;
}
.header .wrapper .responsiveIcon .icon:before {
  top: 12px;
}
.header .wrapper .responsiveIcon .icon:after {
  top: 6px;
}
.header:before {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  content: "";
  display: block;
  position: absolute;
  background: #1682cd;
  border-top: 10px solid #0d5878;
  left: 0;
  height: 104px;
  position: fixed;
  right: 0;
}
.header.menuScroll > div {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  height: 40px;
  padding: 0 15px;
}
.header.menuScroll > div .logo {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  top: -100px;
  opacity: 0;
}
.header.menuScroll > div .logoMini {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  top: 3.5px;
  opacity: 1;
}
.header.menuScroll > div .menu {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding: 14px 0 0;
}
.header.menuScroll > div .menu ul li {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 35px;
}
.header.menuScroll > div .menu ul li .link {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
  line-height: 25px;
}
.header.menuScroll > div .menu ul li .link:hover:before {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  height: 3px;
}
.header.menuScroll > div .menu ul li .link.selected:before {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  height: 3px;
}
.header.menuScroll:before {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  content: "";
  display: block;
  position: absolute;
  background: #1682cd;
  left: 0;
  height: 40px;
  position: fixed;
  right: 0;
  border-top: 10px solid transparent;
}
.header.menuResponsive > div {
  height: 40px;
}
.header.menuResponsive > div .menu {
  position: fixed;
  right: 0;
  left: 0;
  text-align: right;
  top: -210px;
}
.header.menuResponsive > div .menu ul li {
  margin: 0 0 25px 0 !important;
  display: block;
}
.header.menuResponsive > div:before {
  height: 40px;
}
.header.menuResponsive.open > div {
  height: 250px;
}
.header.menuResponsive.open > div .logoMini {
  top: 210px !important;
}
.header.menuResponsive.open > div .menu {
  top: 0;
}
.header.menuResponsive.open > div .responsiveIcon {
  top: 228px;
}
.header.menuResponsive.open:before {
  height: 250px;
}
/* ------------------------------------------- home */
.banner img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 1170px;
}
#home {
  padding-top: 120px;
}
/* ------------------------------------------- medicos, investigadores */
.medicos .box,
.investigadores .box,
.contact .box {
  background: #f2f2f2;
  padding: 25px 0;
}
.medicos .box .title,
.investigadores .box .title,
.contact .box .title {
  color: #000000;
}
.medicos .box .icon,
.investigadores .box .icon,
.contact .box .icon {
  background: url('../img/sprite-images.png') no-repeat;
  display: block;
  width: 80px;
  height: 85px;
  margin: 0 auto;
  background-position: 0 -414px;
}
.medicos .box:after,
.investigadores .box:after,
.contact .box:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #f2f2f2 transparent transparent transparent;
  bottom: -30px;
  left: 50%;
  margin-left: -25px;
}
.medicos .label,
.investigadores .label,
.contact .label {
  color: #fff;
  padding: 55px 0 25px;
  font-size: 30px;
  background: #1682cd;
}
.medicos img.banner,
.investigadores img.banner,
.contact img.banner {
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 1170px;
}
.medicos .phone,
.investigadores .phone,
.contact .phone {
  border-top: 1px solid #f1f1f1;
  text-align: center;
}
.medicos .phone .wrapper,
.investigadores .phone .wrapper,
.contact .phone .wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.medicos .phone .cellphones,
.investigadores .phone .cellphones,
.contact .phone .cellphones {
  float: left;
  margin: 50px 70px 0 0;
}
.medicos .phone .info,
.investigadores .phone .info,
.contact .phone .info {
  padding: 110px 0 100px;
}
.medicos .phone .info h2,
.investigadores .phone .info h2,
.contact .phone .info h2 {
  font-size: 35px;
  color: #000;
  font-weight: 400;
}
.medicos .phone .info .description,
.investigadores .phone .info .description,
.contact .phone .info .description {
  font-size: 23px;
  line-height: 30px;
  margin-top: 50px;
}
.medicos .phone .publi,
.investigadores .phone .publi,
.contact .phone .publi {
  background: #1682cd;
  color: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 70px;
  padding-top: 5px;
  letter-spacing: -1px;
}
.medicos .phone .img,
.investigadores .phone .img,
.contact .phone .img {
  border-bottom: 1px solid #f1f1f1;
}
.medicos .phone .img img,
.investigadores .phone .img img,
.contact .phone .img img {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
.medicos .screensapp,
.investigadores .screensapp,
.contact .screensapp {
  background: url("../img/back-mobile-screens-app.jpg") right bottom no-repeat;
  padding-top: 200px;
  text-align: center;
}
.medicos .screensapp .wrapper,
.investigadores .screensapp .wrapper,
.contact .screensapp .wrapper {
  max-width: 700px;
  margin: 0;
}
.medicos .screensapp .screens,
.investigadores .screensapp .screens,
.contact .screensapp .screens {
  margin: 0 auto;
  max-width: 555px;
  width: 100%;
}
.medicos .screensapp .info,
.investigadores .screensapp .info,
.contact .screensapp .info {
  padding: 60px 0;
}
.medicos .screensapp .info h2,
.investigadores .screensapp .info h2,
.contact .screensapp .info h2 {
  font-size: 35px;
  color: #000;
  font-weight: 400;
}
.medicos .screensapp .info .description,
.investigadores .screensapp .info .description,
.contact .screensapp .info .description {
  font-size: 23px;
  line-height: 30px;
  margin-top: 50px;
}
.investigadores .box .icon,
.contact .box .icon {
  background: url('../img/sprite-images.png') no-repeat;
  display: block;
  width: 80px;
  height: 85px;
  margin: 0 auto;
  background-position: -100px -414px;
}
.investigadores .box.contactus .title,
.contact .box.contactus .title {
  font-size: 14px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
}
.investigadores .box.contactus .intercom,
.contact .box.contactus .intercom {
  display: inline-block;
  color: #288be0;
  font-size: 12px;
  padding-left: 35px;
  margin-left: 15px;
  position: relative;
  font-weight: 700;
}
.investigadores .box.contactus .intercom:before,
.contact .box.contactus .intercom:before {
  content: "";
  display: block;
  position: absolute;
  background: url('../img/sprite-images.png') no-repeat;
  background-position: -225px -475px;
  width: 25px;
  height: 25px;
  left: 0;
  top: -8px;
}
.investigadores .label,
.contact .label {
  background: #88a4b2;
}
.investigadores .label.contactus,
.contact .label.contactus {
  background: #1682cd;
}
.investigadores .banner,
.contact .banner {
  background: #adcdd8;
}
.investigadores .banner img,
.contact .banner img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 1170px;
}
.investigadores .phone .cellphones,
.contact .phone .cellphones {
  margin: 90px 70px 0 0;
}
/* ------------------------------------------- services */
.services {
  background: #fbfbfb;
  padding: 110px 0 50px 0;
}
.services .wrapper .title {
  color: #fd6784;
  font-size: 60px;
  text-transform: uppercase;
}
.services .wrapper .subtitle {
  color: #fd6784;
  font-family: 'Dosis', sans-serif;
  font-size: 41.3px;
  line-height: 45px;
}
.services .wrapper .description {
  margin: 55px auto 230px auto;
  position: relative;
  width: 265px;
}
.services .wrapper .description .title {
  color: #4fd37f;
  font-size: 30px;
  text-transform: inherit;
}
.services .wrapper .description .spec {
  font-size: 20px;
  position: absolute;
}
.services .wrapper .description .spec.android {
  left: -130px;
  top: 100px;
}
.services .wrapper .description .spec.ios {
  left: 240px;
  top: 100px;
  width: 140px;
}
.services .wrapper .description .spec.uxui {
  left: 10px;
  top: 180px;
}
.services .wrapper .description:before {
  content: "";
  display: block;
  position: absolute;
  background-position: 0 -250px;
  height: 215px;
  left: 50%;
  margin-left: -102.5px;
  width: 205px;
}
.services .wrapper .extraInfo {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 50px;
}
.services .wrapper .extraInfo .decemberLabs {
  color: #4fd37f;
}
/* ------------------------------------------- footer */
.footer {
  background: #0e587b;
  color: #ffffff;
  padding: 13px 0 10px 0;
}
.footer p {
  font-size: 10px;
  letter-spacing: 2px;
}
/* ------------------------------------------- media queries */
@media (max-width: 1160px) {
  .projects .mask ul .item > div .cellphones {
    position: absolute;
    z-index: 0;
    margin-left: -283px;
    left: 50%;
    opacity: .3;
  }
  .projects .mask ul .item > div .info {
    -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    -ms-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    -o-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    position: relative;
    text-align: center;
  }
}
@media (max-width: 1055px) {
  .medicos .screensapp {
    background: url("../img/back-mobile-screens-app-opacity.jpg") right bottom no-repeat;
  }
}
@media (max-width: 985px) {
  .header .wrapper .menu ul li {
    margin-right: 45px;
  }
}
@media (max-width: 900px) {
  .medicos .phone .info,
  .investigadores .phone .info,
  .contact .phone .info {
    padding: 20px 0 50px;
  }
  .medicos .phone .cellphones,
  .investigadores .phone .cellphones,
  .contact .phone .cellphones {
    float: inherit;
    margin: 50px auto 10px;
  }
  .medicos .phone .info .description,
  .investigadores .phone .info .description,
  .contact .phone .info .description {
    margin-top: 25px;
  }
}
@media (max-width: 835px) {
  .header .wrapper .menu ul li .link.selected:before {
    height: 3px;
  }
  .header .wrapper .menu {
    padding: 25px 0;
  }
}
@media (max-width: 790px) {
  .header > div .logo {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    top: -100px !important;
    opacity: 0 !important;
  }
  .header > div .logoMini {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    top: 3.5px !important;
    opacity: 1 !important;
  }
  .header:before {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    content: "";
    display: block;
    position: absolute;
    background: #1682cd;
    left: 0;
    height: 40px;
    position: fixed;
    right: 0;
    border-top: 10px solid transparent;
  }
  .header .wrapper .menu {
    padding: 14px 0;
  }
  .header .wrapper {
    padding: 0 15px;
  }
  .header .wrapper .menu ul li .link {
    font-size: 14px;
    line-height: 25px;
  }
  .header .wrapper .menu ul li {
    margin-right: 35px;
  }
  .header .wrapper .logo {
    display: none;
  }
  .banner img {
    padding-top: 50px;
  }
  .banner .wrapper .box {
    padding: 160px 0 70px 0;
  }
}
@media (max-width: 670px) {
  .header.menuScroll > div .logo {
    display: none;
  }
}
@media (max-width: 620px) {
  .medicos .screensapp,
  .investigadores .screensapp,
  .contact .screensapp {
    padding-top: 100px;
  }
}
@media (max-width: 600px) {
  .projects .mask ul .item > div .info {
    padding: 90px 80px;
  }
  .projects .mask ul #itemThree > div .info {
    padding: 127.5px 80px;
  }
  .projects .mask ul #itemFour > div .info {
    padding: 127.5px 110px;
  }
  .header > div .menu ul {
    margin: 0 15px !important;
  }
  .banner .wrapper .box .subtitle {
    display: none;
  }
}
@media (max-width: 565px) {
  .projects .mask ul .item > div .cellphones {
    display: none;
  }
  .services .wrapper .description {
    margin: 55px auto 70px auto;
  }
  .services .wrapper .description:before {
    opacity: 0.2;
  }
  .services .wrapper .description .title {
    margin-bottom: 40px;
  }
  .services .wrapper .description .spec {
    position: relative;
    left: inherit !important;
    top: inherit !important;
    width: inherit !important;
    margin-bottom: 20px;
  }
  .team .wrapper .box .subtitle br {
    display: none;
  }
}
@media (max-width: 545px) {
  .projects .mask ul .item > div .info {
    padding: 65px 80px;
  }
  .medicos .phone .publi {
    font-size: 20px;
  }
}
@media (max-width: 495px) {
  .projects .mask ul .item {
    margin-right: 15px;
  }
  .projects .mask ul .item > div .info {
    padding: 115px 0;
  }
  .projects .mask ul #itemThree > div .info {
    padding: 140px 0;
  }
}
@media (max-width: 475px) {
  .projects .mask ul .item > div .info {
    padding: 115px 0;
  }
  .projects .mask ul #itemThree > div .info {
    padding: 115px 0;
  }
  .projects .mask ul #itemFour > div .info {
    padding: 115px 0;
  }
  .projects .mask ul .item > div .info .description {
    margin-top: 20px;
  }
  .projects .mask ul .item .mobileNavigation {
    display: block;
  }
  .medicos .phone .cellphones,
  .investigadores .phone .cellphones,
  .contact .phone .cellphones {
    max-width: 200px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .projects .mask ul .item > div .info {
    padding: 105px 0;
  }
  .projects .mask ul #itemTwo > div .info {
    padding: 92.5px 0;
  }
  .projects .mask ul #itemThree > div .info {
    padding: 142.5px 0;
  }
  .projects .mask ul #itemFour > div .info {
    padding: 155px 0;
  }
}
@media (max-width: 360px) {
  .banner .wrapper .box {
    padding: 90px 0px 30px;
  }
  .box.v2 {
    padding: 0px;
    width: inherit;
    background: transparent none repeat scroll 0% 0%;
    box-shadow: inherit;
  }
  .box.v2 .background {
    display: none;
  }
  .box.v2 .picInfo {
    margin: 0px;
  }
  .box.v2 .picInfo .profilePic {
    float: inherit;
  }
  .box.v2 .picInfo .info {
    margin: 10px auto;
    float: inherit;
  }
  .box.v2 .picInfo .info .subtitle {
    opacity: 1;
    color: #303030;
    left: inherit;
  }
  .box.v2 .bio {
    display: none;
  }
  .projects .mask ul .item > div .info {
    padding: 67.5px 0px;
  }
  .projects .mask ul #itemThree > div .info {
    padding: 117.5px 0px;
  }
  .projects .mask ul #itemFour > div .info {
    padding: 142.5px 0px;
  }
  .services .wrapper .extraInfo br {
    display: none;
  }
}
